@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-placeholder);
}
.h-80 {
  height: 80vh;
}
.h-90 {
  height: 90vh;
}
.max-w-75 {
  max-width: 75%;
}

@layer {
  .slide-out {
    transform: translateX(-120%);
    transititon: transform 3s;
  }
  .slide-in {
    transform: translateX(0%);
    transititon: transform 3s;
  }
  .max-w-50 {
    max-width: 50%;
  }
  .max-w-10 {
    max-width: 10rem;
  }
  .max-w-full {
    max-width: 100%;
  }
  .border-1 {
    border-width: 1px;
  }
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.no-wrap {
  white-space: nowrap;
}
