@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-placeholder);
}
.h-80 {
  height: 80vh;
}
.h-90 {
  height: 90vh;
}

@layer base {
  .slide-out {
    transform: translateX(-120%);
    transititon: transform 3s;
  }
  .slide-in {
    transform: translateX(0%);
    transititon: transform 3s;
  }
  .max-w-50 {
    max-width: 50%;
  }
  .max-w-10 {
    max-width: 10rem;
  }
  .max-w-full {
    max-width: 100%;
  }
  .border-1 {
    border-width: 1px;
  }
  .max-w-75 {
    max-width: 75%;
  }

  .max-w-85 {
    max-width: 85%;
  }
  .min-h-20 {
    min-height: 20rem;
  }

  .tooltip-base {
    @apply absolute bg-stone-700 text-white rounded py-[6px] px-[10px] bottom-[-32px] left-[50%] translate-x-[-50%] z-[1] text-center w-full min-w-max text-xs transition-all tracking-wide;
  }
  .tooltip[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    @apply tooltip-base;
  }
  .progress-bar {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 114, 206);
    animation: indeterminateAnimation 1s infinite linear;
    transform-origin: 0;
  }

  @keyframes indeterminateAnimation {
    0% {
      transform: translateX(0) scaleX(0);
    }
    40% {
      transform: translateX(0) scaleX(0.4);
    }
    100% {
      transform: translateX(60%) scaleX(0.4);
    }
  }
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.no-wrap {
  white-space: nowrap;
}
