@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-placeholder);
}
.h-80 {
  height: 80vh;
}
